.popular-container {
  opacity: 0.8;
  margin: 4px 4px;
}

.popular-post {
  display: flex;
  font-size: 16px;
  color: rgb(54, 52, 52);
  padding: 8px;
  cursor: pointer;
  border: 1px solid rgb(204, 106, 204);
}
.popular-post:hover {
  background-color: rgb(233, 171, 217);
  color: rgb(154, 240, 247);
}
